{%extends "admin_navbar.html"%}
{% block content%}
<div class="container">
<div>
    {% if courses %} 
    {% for course in courses %}
    <div class="card">
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <a href="/edit_course/{{course.id}}/{{email}}">{{course.name}}</a>
    <nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    {% if course.chapters%}
    <table>
        <tr>
            <th> Name </th>
            <th> No_of_questions </th>
            <th> Actions </th>
        </tr>
        {% for chapter in course.chapters %}
        <tr>
            <td> {{chapter.name}}</td>
            <td> {{chapter.No_of_questions}}</td>
            <td>
                <a href="/edit_chapter/{{course.id}}/{{email}}" class="btn btn-info" type="button"> Edit </a>
                <a href="/delete_chapter" class="btn btn-danger" type="button"> Delete </a>
            </td>
        </tr>
        {%endfor%}
    </table>
    {%endif%}
  </div>
</nav>
<button class="btn btn-primary" type="submit"> Button </button>
  </div>
</div>
{%endfor%}
{%endif%}
</div>
<a href="/add_course/{{email}}" class="btn btn-success" type="button"> Add course</a>
</div>
</div>
{%endblock%}